name: Build KubeAGI Core Library CLI Image

on:
  push:
    branches: [main]
    paths:
      - 'libs/**'
  workflow_dispatch:
env:
  PYTHON_INDEX_URL: https://pypi.org/simple
  PACKAGE_REGISTRY: deb.debian.org

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Maximize build space
        uses: easimon/maximize-build-space@master
        with:
          overprovision-lvm: true
          remove-dotnet: 'true'
          remove-android: 'true'
          remove-haskell: 'true'
          remove-codeql: 'true'
          remove-docker-images: 'true'
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set Variable
        id: set-env
        run: |
          TAG=$(git describe --tags --abbrev=0 --match 'v*' 2> /dev/null) || true
          if [ -z "$TAG" ]; then
            echo "No tag found, use v0.0.1 as default"
            TAG=v0.0.1
          fi
          echo "TAG=${TAG}" >> $GITHUB_OUTPUT
          echo "DATE=$(TZ=Asia/Shanghai date +'%Y%m%d')" >> $GITHUB_OUTPUT
      - name: Show Variable
        run: echo "varibables ${{ steps.set-env.outputs.TAG }}-${{ steps.set-env.outputs.DATE }}"
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          buildkitd-flags: --debug
          config-inline: |
            [worker.oci]
              max-parallelism = 1
      - name: Login to the dockerhub Registry
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
      - uses: benjlevesque/short-sha@v2.2
        name: Get short commit sha
        id: short-sha
      - name: Build and push core library cli image
        id: push-eval
        uses: docker/build-push-action@v5
        with:
          context: .
          file: docker/Dockerfile
          platforms: linux/amd64,linux/arm64
          tags: |
            kubeagi/core-library-cli:latest
            kubeagi/core-library-cli:${{ steps.set-env.outputs.TAG }}
            kubeagi/core-library-cli:${{ steps.set-env.outputs.TAG }}-${{ steps.set-env.outputs.DATE }}-${{ steps.short-sha.outputs.sha }}
          push: true
          build-args: |
            PACKAGE_REGISTRY=${{ env.PACKAGE_REGISTRY }}
            PYTHON_INDEX_URL=${{ env.PYTHON_INDEX_URL }}
